@font-face {
	font-family: 'SUBSCRIBER Regular';
	font-style: normal;
	font-weight: normal;
	src: local('SUBSCRIBER Regular'), url('SUBSCRIBER-Regular.woff') format('woff');
}

h1, h2, h3, h4 {
	font-family: 'SUBSCRIBER Regular';
}
