{% extends 'base.html' %}

{% block title %}Über{% endblock %}

{% block content %}
    <div class="container">
        <div class="coloumns">
            <div class="coloumn col-6 col-xl-8 col-lg-9 col-md-10 col-sm-12 col-xs-12 col-mx-auto">
                <h1>Über den Stadtplan</h1>
                <p><b>Aufgepasst hier entsteht er - der Greifswalder Jugendstadtplan</b></p>
                <p>Gemeinsam mit dir wollen wir einen digitalen Jugendstadtplan gestalten, der darüber informiert, wo man als Jugendliche_r gut Zeit in Greifswald verbringen kann. Freunde treffen in der Lieblingseisdiele, gemeinsam 'ne Runde über den Wall joggen, grillen am Hafen, Sportkurse, Konzerte, bolzen auf den Plätzen der Stadt, die gemütlichsten Bushaltestellen… du weißt am besten welche Orte das sind. Bist du dabei?</p>
                <ul>Du kannst den Jugendstadtplan nutzen, um:
	                <li>Dir selbst einen Überblick zu verschiedenen Angeboten, Einrichtungen und ihren Öffnungszeiten zu verschaffen</li>
	                <li>Zu schauen, wo andere Jugendliche ihre Freizeit verbringen und auch erfahren warum</li>
	                <li>Deine Lieblingsorte mit anderen zu teilen</li>
                </ul>
			    <h2>FAQs:</h2>
                <div class="accordion">
                    <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden>
                    <label class="accordion-header" for="accordion-1">
                    <i class="icon icon-arrow-right mr-1"></i>
                    Wer hat sich das hier ausgedacht?
                    </label>
                    <div class="accordion-body">
					Der Jugendstadtplan wurde angestoßen und programmiert durch Jugendliche der offenen Jugendarbeit der evangelischen Altstadtgemeinde im Rahmen des Projekts #einmischen - für Jugendbeteiligung in Greifswald.
                    </div>
                </div>
                <div class="accordion">
                    <input type="checkbox" id="accordion-2" name="accordion-checkbox" hidden>
                    <label class="accordion-header" for="accordion-2">
                    <i class="icon icon-arrow-right mr-1"></i>
					Was ist PLACEm?
                    </label>
                    <div class="accordion-body">
					PLACEm ist eine kostenlose Mitrede-App für Android und iOS, die Lust aufs Mitdenken und Mitreden wecken möchte. Warum wir dir das an dieser Stelle erzählen? Einige der hier markierten Orte findest du auch als sogenannte Places in eben jener App. Sie haben sich unter dem Oberplace „Greifswald - deine Stadt“ dort versammelt, um Jugendlichen die Möglichkeit auf mehr Mitsprache in ihrer Arbeit, bei konkreten Angeboten oder auch kommunalpolitischen Entscheidungen einzuräumen. Wenn auf unserem Stadtplan markiert ist, dass der jeweilige Ort auch in der PLACEm-App zu finden ist, dann kannst du ihn per QR-Code abonnieren und erhältst sogenannte Push-Benachrichtigungen, wenn es etwas neues zu entscheiden gibt, klar ist wo die nächste Ferienfreizeit hinführt, wann zwischen den Weihnachtsfeiertagen geöffnet ist oder wo neue Graffitiflächen in der Stadt entstehen.
                    </div>
                </div>
                <div class="accordion">
                    <input type="checkbox" id="accordion-3" name="accordion-checkbox" hidden>
                    <label class="accordion-header" for="accordion-3">
                    <i class="icon icon-arrow-right mr-1"></i>
					Gibt es den Jugendstadtplan auch gedruckt?
                    </label>
                    <div class="accordion-body">
	                Noch nicht, aber wenn uns genug Leute schreiben, dass sie das toll finden würden, lässt sich da sicherlich was machen.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
