<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
	<title>{% block title %}Jugendstadtplan{% endblock %}</title>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Spectre.css -->
	<link rel="stylesheet" href="{% static 'spectre.css/spectre.min.css' %}">
	<link rel="stylesheet" href="{% static 'spectre.css/spectre-icons.min.css' %}">
	<link rel="stylesheet" href="{% static 'spectre.css/spectre-exp.min.css' %}">
	<!-- Leaflet -->
	<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
	<script src="{% static 'leaflet/leaflet.js' %}"></script>
	<!-- Font -->
	<link rel="stylesheet" href="{% static 'fonts/style.css' %}">
</head>
<body>
	<div class="container" style="position:{% block navbar_position %}relative{% endblock %};z-index:999;background:white">
		<!-- Header -->
		<header class="navbar">
  			<section class="navbar-section">
				<a href="/" class="navbar-brand mr-2" style="font-family:'SUBSCRIBER Regular';font-size:39px">Jugendstadtplan</a>
				<a href="/list/" class="btn btn-link" style="font-family:'SUBSCRIBER Regular';font-size:26px">Alle Orte</a>
				<a href="/about/" class="btn btn-link" style="font-family:'SUBSCRIBER Regular';font-size:26px">Über</a>
				<a href="/impressum/" class="btn btn-link" style="font-family:'SUBSCRIBER Regular';font-size:26px">Impressum</a>
  			</section>
  			<section class="navbar-section">
	  			<a href="/admin/" class="btn btn-link" style="font-family:'SUBSCRIBER Regular';font-size:26px">Verwaltung</a>
  			</section>
		</header>
	</div>
	<!-- Content -->
	{% block content %}{% endblock %}
</body>
</html>
