{% extends 'base.html' %}

{% block title %}Impressum{% endblock %}

{% block content %}
	<div class="container">
		<div class="coloumns">
			<div class="coloumn col-6 col-xl-8 col-lg-9 col-md-10 col-sm-12 col-xs-12 col-mx-auto">
				<h1>Impressum</h1>
				<h2>Angaben nach §5 TMG</h2>
				<p>An der Jacobikirche 6A<br>
				17489 Greifswald<br>
				Tel:<br>
				03834/8832316<br>
				Email:<br>
				<a href="mailto:zusammen@pek.de">zusammen@pek.de</a><br>
				Gesetzlicher Vertreter und inhaltlich Verantwortlicher gemäß § 10 Absatz 3 MDStV: Kassandra Engel
				</p>
				<h2>Haftungsausschluss</h2>
				<h4>Haftung für Inhalte</h4>
				<p>
				Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
				</p>
				<h4>Haftung für Links</h4>
				<p>
				Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
				</p>
				<h2>Verwendete Software</h2>
				<ul>
					<li><a href="https://github.com/tmahlburg/jugendstadtplan" target="_blank">Jugendstadtplan</a> - die Software, mit der diese Seite läuft. Frei unter der AGPLv3 Lizenz verwend- und veränderbar.</li>
					<li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
					<li><a href="https://picturepan2.github.io/spectre/index.html" target="_blank">Spectre.css</a></li>
					<li><a href="https://leafletjs.com/" target="_blank">Leaflet</a></li>
					<li><a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a></li>
				</ul>
				<p>Sollte dir ein Fehler aufgefallen sein, kannst du ihn <a href="https://github.com/tmahlburg/jugendstadtplan/issues" target="_blank">direkt bei uns</a> melden.</p>
		</div>
	</div>
{% endblock %}
