{% extends 'base.html' %}

{% block title %}Impressum{% endblock %}

{% block content %}
	<div class="container">
		<div class="coloumns">
			<div class="coloumn col-6 col-xl-8 col-lg-9 col-md-10 col-sm-12 col-sm-12 col-mx-auto">
				<h1>Impressum</h1>
				<h2>Allgemeines</h2>
				<p>Hier steht das Impressum, obwohl ich mir nicht sicher bin, ob das bei Webseiten wie dieser überhaupt nötig ist. Vielleicht ist ein Kontaktformular hier geeigneter. Allerding ist es auch ganz praktisch, dass hier inzwischen ein bisschen was an Text steht, dadurch lässt sich das Layout besser einschätzen. Außer diesem allgemeinen Impressum würde ich gern noch das GitHub-Repo und die verwendeten OpenSource-Projekte erwähnen und verlinken. Außerdem vielleicht die Lizenz und Privatsphäreinformationen, im Falle einer Vorschlagsfunktion.</p>
				<h2>Verwendete Software</h2>
				<ul>
					<li><a href="https://www.python.org/" target="_blank">Python</a> - kann man denke ich auch weglassen</li>
					<li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
					<li><a href="https://picturepan2.github.io/spectre/index.html" target="_blank">Spectre.css</a></li>
					<li><a href="https://leafletjs.com/" target="_blank">Leaflet</a></li>
					<li><a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a></li>
					<li><a href="https://github.com/tmahlburg/jugendstadtplan" target="_blank">Jugendstadtplan</a> - die Software, mit der diese Seite läuft. Frei unter der AGPLv3 Lizenz verwend- und veränderbar.</li>
				</ul>
				<p>Sollte dir ein Fehler aufgefallen sein, kannst du ihn <a href="https://github.com/tmahlburg/jugendstadtplan/issues" target="_blank">direkt bei uns</a> melden.</p>
				<h2>Privatssphäre</h2>
				<p>Privatssphäre ist uns wichtig. Aktuell kennen wir aber noch nicht die genauen Regelungen, die die DSGVO für eine Webseite dieser Arte fordert. Wir arbeiten daran.</p>
		</div>
	</div>
{% endblock %}
