{% extends 'base.html' %}
{% load static %}
{% block title %}Jugendstadplan{% endblock %}
{% block navbar_position %}fixed{% endblock %}

{% block content %}
    <script src="{% static 'map/script.js' %}"></script>
    {% if messages %}
        {% for message in messages %}
        <div class="toast {% if message.tags %}toast-{{ message.tags  }}{% endif %}" style="position: fixed;z-index: 999;">
            <button class="btn btn-clear float-right" onclick="close_toast(this)"></button>
            {{ message  }}
        </div>
        {% endfor %}

    {% endif %}
    <div id="map" style="height:100vh;"></div>
    {% if all_locations %}
        <script>
            setup_map({{ viewpoint  }});
            var i = 0;
            var marker = [];
            {% for location in all_locations %}
            	{% if location.is_public %}
		            marker.push(L.marker([{{ location.latitude }}, {{ location.longitude }}]).addTo(map));
		            popup_content = '<container style="width:10em">'
		                            {% if location.picture %}
		                            + '<img src="{{ location.picture  }}" style="width:100%" alt="{{ location.title  }}>'
		                            {% endif %}
		                            + '<strong>{{ location.title }}</strong><hr>'
		                            + '{{ location.category  }}<br>'
		                            {% if location.homepage %}
		                            + '<a href="{{ location.homepage  }}" target="_blank">Internetpräsenz</a><br>'
		                            {% endif %}
		                            {% if location.address %}
		                            + '{{ location.address|linebreaksbr  }}<br>'
		                            {% endif %}
		                            {% if location.opening_hours %}
		                            + '{{ location.opening_hours|linebreaksbr  }}'
		                            {% endif %}
		                            + '</container>'

		            marker[i].bindPopup(popup_content);
		            i++;
                {% endif %}
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}
