{% extends 'base.html' %}
{% load static %}
{% block title %}Jugendstadplan{% endblock %}
{% block navbar_position %}fixed{% endblock %}

{% block content %}
	<div id="map" style="height:100vh;"></div>
	<script src="{% static 'map/script.js' %}"></script>
	{% if all_locations %}
		<script>
			var i = 0;
			var marker = [];
			{% for location in all_locations %}
				marker.push(L.marker([{{ location.latitude }}, {{ location.longitude }}]).addTo(map));
				marker[i].bindPopup("{{ location.title }}");
				i++;
			{% endfor %}
		</script>
	{% endif %}
{% endblock %}
